<div>
  <div class="container-fluid">
    <div class="row">
      <div class="content">
        <h2 class="text-center m-5 font-google-2">Danh Sách Mặt Bằng</h2>
        <div class="row">
          <div class="col-3">

          </div>
          <div class="col-9">
            <div class="search row justify-content-around align-items-center mb-4 text-right float-right">
              <div class="col-xl-2 col-md-3 form-group" style="text-align: center">
                <input id="floorName" #floorName class="form-control" type="text" placeholder="Theo tên tầng"
                       style="font-size: 15px">
              </div>
              <div class="col-xl-2 col-md-3 form-group" style="text-align: right">
                <div style="text-align: center">
                  <input id="spaceCode" #spaceCode type="text" class="form-control" placeholder="Theo mã mặt bằng"
                         style="font-size: 15px">
                </div>
              </div>
              <div class="col-xl-2 col-md-3 form-group" style="text-align: right">
                <div style="text-align: center">
                </div>
                <div>
                  <input id="spaceArea" #spaceArea type="text" class="form-control" placeholder="Theo diện tích"
                         style="font-size: 15px">
                </div>
              </div>
              <div class="col-xl-2 col-md-3 form-group" style="text-align: right">
                <input type="text" id="spaceType" #spaceType class="form-control" placeholder="Theo loại mặt bằng"
                       style="font-size: 15px">
              </div>
              <div class="col-xl-2 col-md-3 form-group " style="text-align: -moz-right">
                <button class="btn btn-light mt-xl-1 btn-outline-success"
                        style="border-radius: 5px"
                        (click)="search(floorName.value, spaceCode.value, spaceArea.value, spaceType.value, spaceStatus.value)">
                  <i
                    class="fa-solid fa-magnifying-glass fa-2x" style="font-size: 12px"></i>Tìm Kiếm
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h4>
              <button type="button"  class="add-button btn me-lg-1"><i
                class="fa-solid fa-plus" routerLink="/spaces/create"></i>Tạo mới
              </button>
              <select id="spaceStatus" #spaceStatus type="button" class=" btn btn-danger dropdown-toggle me-lg-1"
                      data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                <option class="dropdown-item" value="" href="">Tất cả trạng thái</option>
                <option class="dropdown-item" value="Chưa vào ở">Chưa vào ở</option>
                <option class="dropdown-item" value="Đã vào ở">Đã vào ở</option>
                <option class="dropdown-item" value="Đang sửa">Đang sửa chữa</option>
              </select>
            </h4>
          </div>
          <div class="content">
            <ng-container *ngIf="messageError != ''; else elseBlock">
              <h3 style="color: red; text-align: center; width: 100%; margin-top: 50px">{{messageError}}</h3>
            </ng-container>
            <ng-template #elseBlock>
              <table class=" table table-hover bg-light" style="text-align: center">
                <thead class="text-center "
                       style="background-color: #efb578; white-space: nowrap; overflow: hidden;">
                <tr style="color: #452d14">
                  <th scope="col">STT</th>
                  <th scope="col">Mã mặt bằng</th>
                  <th scope="col">Loại mặt bằng</th>
                  <th scope="col">Diện tích(m<sup>2</sup>)</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Giá bán(VND)</th>
                  <th scope="col">Phí quản lý</th>
                  <th scope="col">Tên tầng</th>
                  <th scope="col" style="">Chức năng</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let space of spaceList | slice: (page-1) * pageSize : page * pageSize; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{space.spaceCode}}</td>
                  <td>{{space.spaceTypeName}}</td>
                  <td>{{space.spaceArea}}(m<sup>2</sup>)</td>
                  <td>{{space.spaceStatusName}}</td>
                  <td>{{space.spacePrice}}</td>
                  <td>{{space.spaceManagerFee}}</td>
                  <td>{{space.floorName}}</td>
                  <td>
                    <button type="button" class="btn btn-light me-3 edit-button">
                      <i routerLink="/spaces/edit/{{space.spaceId}}" class="fa-solid fa-pen"></i>
                    </button>
                    <button type="button" class="btn btn-light delete-button " data-toggle="modal"
                            data-target="#exampleModal"
                            (click)="openDialog(space.spaceId)">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </ng-template>
            <div class="clearfix">
              <ngb-pagination class="d-flex justify-content-end"
                              [(page)]="page"
                              [pageSize]="pageSize"
                              [collectionSize]="spaceList.length"
                              [maxSize]="5"
                              [rotate]="true"
                              [ellipses]="true"
                              [boundaryLinks]="true">
                <ng-template ngbPaginationFirst>Trang đầu</ng-template>
                <ng-template ngbPaginationLast>Trang cuối</ng-template>
                <ng-template ngbPaginationEllipsis>...</ng-template>
                <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-bootstrap-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="default"
  color="#fff"
  type="border"
  loadingText="Đang tải dữ liệu..."
>
</ngx-bootstrap-spinner>
<!--<ngx-bootstrap-spinner-->
<!--  bdColor="rgba(0, 0, 0, 1)">-->
<!--  loaderTemplate="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />"-->
<!--</ngx-bootstrap-spinner>-->
