<!--<div class="modal-dialog">-->
<!--  <div class="modal-content">-->
<!--    <div class="modal-header">-->
<!--      <p class="modal-title fs-4 text-center text-success">Bạn có muốn xóa nhân viên</p>-->
<!--    </div>-->
<!--    <div class="modal-body fs-6 fw-bold text-danger">-->
<!--      <table class="table">-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <th scope="row">1</th>-->
<!--          <td>Id: </td>-->
<!--          <td>{{customers.customerId}}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">1</th>-->
<!--          <td>Code: </td>-->
<!--          <td>{{customerCode}}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">1</th>-->
<!--          <td>Tên: </td>-->
<!--&lt;!&ndash;          <td>{{customers.customerAddress}}</td>&ndash;&gt;-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">2</th>-->
<!--          <td>Mã Nhân Viên: </td>-->
<!--&lt;!&ndash;          <td>{{customers.customerName}}</td>&ndash;&gt;-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <th scope="row">3</th>-->
<!--          <td>Email: </td>-->
<!--&lt;!&ndash;          <td>{{customers.customerEmail}}</td>&ndash;&gt;-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="modal-footer">&ndash;&gt;-->
<!--&lt;!&ndash;      <button type="button" class="btn btn-warning" (click)=" onNoClick()">Close</button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button type="button" class="btn btn-danger" (click)="deleteEmployee()">Delete</button>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;      <button mat-button mat-dialog-close>Cancel</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <button mat-button [mat-dialog-close]="true" (click)="deleteEmployee()" cdkFocusInitial>Install</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--    <mat-dialog-actions align="end">-->
<!--      <button class="btn btn-secondary" mat-dialog-close>Đóng</button>-->
<!--      <button style="margin-left: 10px" class="btn btn-danger" [mat-dialog-close]="true"-->
<!--              (click)="deleteCustomer(this.customerForm.controls.customerId.value)">Xóa-->
<!--      </button>-->
<!--    </mat-dialog-actions>-->
<!--  </div>-->
<!--</div>-->
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
{{customerCode}}
<!--{{customers?.customerName}}-->
<!--<h2>Hello</h2>-->
<!--<p>{{customerId}}</p>-->


