.edit-button {
  background-color: #d6b915;
  border-radius: 5px;
}

.delete-button {
  background-color: #de6666;
  border-radius: 5px;
  color: white;
}

.padding-button {
  padding-left: 50px;
  padding-top: 20px;
}

.error {
  color: red;
}


.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #dd3675, #dd3675);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #dd3675, #b44593);
}
