
.font-google-1 {
  font-family: 'Work Sans', cursive;
}
.font-google-2 {
  font-family: 'Dancing Script', cursive;
  color: #d6b915;
  font-size: 60px
}
.gradient-custom {
  /* fallback for old browsers */
  background: #a1764a;
  margin-right: 12px;

  /*/* Chrome 10-25, Safari 5.1-6 */
  /*background: -webkit-linear-gradient(to bottom right, rgb(161, 154, 63), rgb(161, 81, 34));*/

  /*/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: linear-gradient(to bottom right, rgb(177, 156, 80), rgb(198, 111, 29))*/
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.error{
  color: red;
}
.add-button{
  background-color: #d17d0f;
  color: white;
}
.button-radius{
  border-radius: 5px;
}
.add-button:hover{
  border: 1px;
  border-color: black;
}
.reset-button:hover{
  border: 1px;
  border-color: black;
}
