<!--<h1 class="text-danger text-lg-center bg-light">Chào mừng bạn đến với trang chỉnh sửa</h1>-->
<div class="container-fluid">
  <div class="gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center font-google-2">Chỉnh sửa khách hàng</h3>
              <form>
                <div class="row">

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label select-label" for="name">Họ Tên<span class="error">(*)</span></label><br>
                      <input type="text" id="name" class="form-control form-control-lg" placeholder="Nguyễn Đình Hòa"/>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label select-label" for="cmnd">CMND<span class="error">(*)</span></label><br>
                      <input type="text" id="cmnd" class="form-control form-control-lg" placeholder="3434343434"/>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label select-label" for="email">Email<span class="error">(*)</span></label><br>
                      <input type="text" id="email" class="form-control form-control-lg" placeholder="hoadeptrai@gmail.com"/>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label select-label" for="phone">Số Điện Thoại<span
                        class="error">(*)</span></label><br>
                      <input type="text" id="phone" class="form-control form-control-lg" placeholder="0905123456"/>
                    </div>
                  </div>


                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label select-label" for="birth">Ngày Sinh<span class="error">(*)</span></label><br>
                      <input type="text" id="birth" class="form-control form-control-lg" placeholder="01-01-1994"/>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label select-label" for="address">Địa Chỉ<span class="error">(*)</span></label><br>
                      <input type="text" id="address" class="form-control form-control-lg" placeholder="12 Lê Quý Kỳ, Đà Nẵng	"/>
                    </div>
                  </div>

                </div>

                <div class="d-flex justify-content-end pt-3 mt-5">
                  <button type="submit" class="edit-button button-radius btn-lg ms-2 me-3">Chỉnh sửa</button>
                  <button type="reset" class="reset-button button-radius btn-lg ms-2 me-3">Đặt lại</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
